        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        
        .container {
            max-width: 1200px;
            margin: auto;
        }
        
        header {
            padding: 30px 0;
        }
        
        .flex-wrapper {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        
        .logo {
            font-family: Georgia;
            font-size: 32px;
            font-weight: 400;
            text-decoration: none;
            color: #F1CDB3;
        }
        
        .slogan {
            font-family: arial;
            font-size: 13px;
            line-height: 14.95px;
            font-weight: 400;
            color: #FFFFFF;
        }
        
        nav ul {
            display: flex;
            list-style: none;
        }
        
        nav li {
            margin-left: 35px;
        }
        
        nav a {
            font: 15px Arial;
            text-decoration: none;
            color: #FAFAFA;
            display: block;
            padding-bottom: 4px;
        }
        
        .active {
            border-bottom: #F1CDB3 solid 3px;
        }
        
        main {
            background: linear-gradient(90.26deg, #7D604B 0.23%, #251000 99.8%);
        }
        
        .text h2 {
            margin-top: 223px;
            color: white;
            font-family: 'Georgia';
            font-style: normal;
            font-weight: 400;
            font-size: 44px;
            line-height: 130%;
        }
        
        .imgbackground img {
            height: 100%;
        }
        
        .text p {
            padding-top: 40px;
            color: #CDCDCD;
            font-family: 'Arial';
            font-style: normal;
            font-weight: 400;
            font-size: 15px;
            line-height: 160%;
            max-width: 460px;
        }
        
        .text a {
            padding-bottom: 244px;
        }
        
        .flexrelative {
            display: flex;
            justify-content: space-between;
        }
        
        .text {
            max-width: 460px;
        }
        
        .text p {
            margin-bottom: 41px;
        }
        
        .text a {
            margin-top: 50px;
            text-decoration: none;
            padding: 10px 30px;
            color: black;
            background-color: #F1CDB3;
            border-radius: 20px;
        }
        
        .secondfloor {
            padding-left: 10%;
            padding-right: 10%;
            background-color: #fff;
            display: flex;
            justify-content: space-around;
            padding-top: 80px;
            padding-bottom: 100px;
        }
        
        .secondpart {
            flex-basis: 30%;
        }
        
        .secondpart h2 {
            font-size: 35px;
            font-family: 'Georgia';
            font-style: normal;
            font-weight: 400;
            font-size: 35px;
            line-height: 130%;
            letter-spacing: 0.06em;
            color: #545454;
        }
        
        .secondpart p {
            font-size: 15px;
            margin-bottom: 25px;
            font-family: 'Arial';
            font-style: normal;
            font-weight: 400;
            font-size: 15px;
            line-height: 160%;
        }
        
        .flexparent {
            align-items: center;
        }
        
        .thirdblock {
            background-color: #F6F6F6;
            text-align: center;
            align-items: center;
        }
        
        .flexparent {
            display: flex;
            justify-content: space-between;
        }
        
        .thirdblock h3 {
            color: #545454;
            text-align: center;
            padding: 80px 50px;
            font-family: 'Georgia';
            font-style: normal;
            font-weight: 400;
            font-size: 35px;
            line-height: 130%;
        }
        
        .thirdblock h4 {
            padding-bottom: 30px;
            font-family: 'Georgia';
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 23px;
            color: #545454;
        }
        
        .thirdblock a {
            padding: 10px 20px;
            border: 2px solid #F1CDB3;
            text-decoration: none;
            color: #292929;
            border-radius: 20px;
        }
        
        .child3 {
            flex-basis: 10%;
        }
        
        .thirdblocka {
            display: flex;
            flex-direction: column;
            align-items: center;
            background-color: #F6F6F6;
        }
        
        .thirdblocka a {
            text-decoration: none;
            margin-top: 75px;
            margin-bottom: 115px;
            color: #292929;
            padding: 15px 45px;
            border: 2px solid #F1CDB3;
            border-radius: 20px;
            background-color: #F1CDB3;
        }
        
        .fourblock {
            background-color: white;
        }
        
        .flexparent4 {
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
        }
        
        .child4 {
            flex-basis: 18%;
            text-align: center;
        }
        
        h5 {
            font-family: 'Georgia';
            font-style: normal;
            font-weight: 400;
            font-size: 35px;
            line-height: 130%;
            color: #545454;
            text-align: center;
            margin-bottom: 60px;
        }
        
        .child4 h4 {
            margin-top: 30px;
            color: #545454;
            font-family: 'Georgia';
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 115%;
            margin-bottom: 98px;
        }
        
        button {
            padding: 15px;
            border-radius: 25px;
            border: 2px solid #F1CDB3;
        }
        
        .fiveblock {
            background-color: #F6F6F6;
            padding-top: 92px;
            padding-bottom: 111px;
            display: flex;
            justify-content: center;
        }
        
        .fiveblock h6 {
            color: #545454;
            font-family: 'Georgia';
            font-style: normal;
            font-weight: 400;
            font-size: 35px;
            line-height: 130%;
            font-size: 35px;
        }
        
        .fiveblock p {
            max-width: 380px;
        }
        
        .firstp {
            font-family: 'Georgia';
            font-style: normal;
            font-weight: 400;
            font-size: 15px;
            line-height: 110%;
            color: #545454;
            font-size: 15px;
        }
        
        .before {
            position: relative;
            font-family: 'Georgia';
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 115%;
            color: #545454;
            font-size: 23px;
            padding: 10px 15px 10px 60px;
            border: 2px solid #F1CDB3;
            background-color: #F1CDB3;
            margin-top: 30px;
            margin-bottom: 30px;
        }
        
        .lastp {
            color: #B2B2B2;
            font-family: 'Arial';
            font-style: italic;
            font-weight: 400;
            font-size: 12px;
            line-height: 18px;
        }
        
        .before::before {
            content: "";
            position: absolute;
            background-size: contain;
            background-repeat: no-repeat;
            width: 30px;
            height: 23px;
            right: 330px;
            background-image: url(../images/credit-card.svg);
        }
        
        footer {
            background: linear-gradient(90.26deg, #7D604B 0.23%, #251000 99.8%);
            padding-top: 40px;
        }
        
        footer .flex-wrapper>div {
            width: 300px;
        }
        
        footer .flex-wrapper {
            align-items: flex-start;
        }
        
        footer h3 {
            font-family: 'Georgia';
            font-style: normal;
            font-weight: 400;
            font-size: 35px;
            line-height: 130%;
            color: #fff;
            letter-spacing: 0.06em;
            padding-top: 16px;
            margin-bottom: 33px;
        }
        
        footer p {
            min-height: 46px;
            padding-left: 60px;
            display: flex;
            align-items: center;
            color: #F1CDB3;
            margin-bottom: 27px;
        }
        
        footer a {
            color: #F1CDB3;
            text-decoration: none;
        }
        
        footer .email {
            background: url(../images/mail.svg) no-repeat left center;
        }
        
        footer .tel {
            background: url(../images/phone.svg) no-repeat left center;
        }
        
        footer .local {
            background: url(../images/pin.svg) no-repeat left center;
            padding-left: 42px;
        }